<% 
const links = [
  {
    title: "Home",
    link: "/home",
  },
  {
    title: "Upload",
    link: "/file/upload",
  },
];

const isLoggedIn = locals.currentUser ? true : false; 
%>

<header class="header">
  <div class="header__container">

    <div class="header__menu-button-wrapper">
      <button onclick="toggleMenu()" id="header__menu-button" class="header__menu-button" aria-controls="menu" aria-expanded="true" aria-label="Toggle menu">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    
    <div class="header__logo-wrapper">
      <a href="/home" class="header__logo-link">
        <span class="header__logo">Failik</span>
      </a>
    </div>

    <nav class="header__nav" aria-label="Main navigation">
      <ul class="header__links-list">
        <% links.forEach(l => { %>
          <li class="header__link-item">
            <a href="<%= l.link %>" class="header__nav-link"><%= l.title %></a>
          </li>
        <% }) %>
      </ul>
    </nav>

    <search class="header__search">
      <form action="/search" method="post" class="header__search-form">
        <input type="text" autocomplete="off" name="query" class="header__search-input" placeholder="Search...">
        <button type="submit" aria-label="submit" class="header__search-submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </search>

    <div class="header__auth-block">
      <% if (isLoggedIn) { %>
        <div class="header__user-info">
          <span class="header__username">
            @<%= currentUser.username %>
          </span>
        </div>
        <div class="header__actions">
          <a href="/auth/log-out" class="btn btn--danger btn--sm" onclick="return confirm('Log out?')">Log out</a>
        </div>
      <% } else { %>
        <div class="header__actions">
          <a href="/auth/sign-up" class="btn btn--secondary btn--sm">Sign up</a>
          <a href="/auth/log-in" class="btn btn--primary btn--sm">Log in</a>
        </div>
      <% } %>
    </div>

  </div>
</header>

<script>
  const menu = document.querySelector(".menu");
  const menuResizer = document.querySelector(".menu-resizer");
  const menuButton = document.querySelector("#header__menu-button");
  const menuOverlay = document.querySelector(".menu-overlay");
  const focusableSelectors = 'button, [href], input, select, textarea, [tabindex]:not([tabindex="-1"])';
  
  window.addEventListener("resize", () => {
    const isVisible = menu.classList.contains("visible");
    if (window.innerWidth <= 900 || isVisible) {
      menuButton.ariaExpanded = false;
      stopResizing();
    } else {
      menuButton.ariaExpanded = true;
    }
  })

  // focus lock
  function trapFocus(e) {
  if (e.key !== 'Tab') return;

  const focusableElements = menu.querySelectorAll(focusableSelectors);
  const firstElement = focusableElements[0];
  const lastElement = focusableElements[focusableElements.length - 1];


  if (e.shiftKey) {
    if (document.activeElement === firstElement) {
      lastElement.focus();
      e.preventDefault();  
    }
  } 
  else {
    if (document.activeElement === lastElement) {
        firstElement.focus(); 
        e.preventDefault();
      }
    }
  }

  function handleDocumentClick({target}) {
    if (target.classList.contains("menu-overlay")) {
      closeMenu();
    }
  }

  function handleEscPress({key}) {
    if (key == "Escape") {
      closeMenu();
    }
  }

  function toggleMenu() {
    const isOpen = menu.classList.contains("visible");
    if (isOpen) {
      closeMenu();
    } else {
      openMenu();
    }
  }
  
  function openMenu() {
    menuButton.ariaExpanded = true;
    menu.classList.add("visible");
    menuOverlay.classList.add("visible");

    document.addEventListener('keydown', trapFocus);
    const focusableElements = menu.querySelectorAll(focusableSelectors);
    focusableElements[0].focus();

    document.addEventListener("click", handleDocumentClick);
    document.addEventListener("keydown", handleEscPress);
  }
  
  function closeMenu() {
    document.removeEventListener("keydown", trapFocus);
    document.removeEventListener("click", handleDocumentClick);
    document.removeEventListener("keydown", handleEscPress);
    menuButton.ariaExpanded = false;
    menuOverlay.classList.remove("visible")
    menu.classList.add("menuFadeOut");
    setTimeout(() => {
      menu.classList.remove("menuFadeOut");
      menu.classList.remove("visible");
    }, 300);
  }

  let startX = 0;
  let startWidth = 0;

  function initResize(e) {
    startX = e.clientX;
    startWidth = parseInt(window.getComputedStyle(menu).width);

    document.documentElement.classList.add("resizing");
    window.addEventListener("pointermove", startResizing);
    window.addEventListener("pointerup", stopResizing);
  }

  function startResizing(e) {
    const currentWidth = startWidth + (e.clientX - startX);
    const windowWidth = parseInt(window.getComputedStyle(document.documentElement).width);
    if ( currentWidth >= 260 && currentWidth <= 520) {
      menu.style.width = `${currentWidth}px`;
    }
  }

  function stopResizing(e) {
    document.documentElement.classList.remove("resizing");
    window.removeEventListener("pointermove", startResizing);
    window.removeEventListener("pointerup", stopResizing);
  }

  menuResizer.addEventListener("pointerdown", initResize);  

</script>