<li class="menu__folder">
  <a href="/folder/single/<%= folder.id %>" class="menu__folder-link">
    <i class="fa-solid fa-folder"></i>
    <span class="menu__folder-title"><%= folder.title %></span>
  </a>
</li>
