<div class="menu-folder">
  <a href="/folder/single/<%= folder.id %>" class="folder__link">
    <div class="folder__info">
      <i class="fa-solid fa-folder folder__icon"></i>
      <span class="folder__title"><%= folder.title %></span>
    </div>

    <div class="folder__badge">
      <span class="folder__count" aria-label="Number of files">
        <%= folder.files.length %>
      </span>
    </div>
  </a>
</div>
